openapi: '3.0.0'
info:
  title: Steakhouse Token APIs
  description: API to get filtered and specific info on steakHouse.finance tokens and onchain token info before bonding
  version: '1.2'
servers:
  - url: https://steakhouseapi.xyz
    description: Base API URL
paths:
  /info/api/all-tokens-by-volume:
    get:
      operationId: getAllTokensByVolume
      summary: Get tokens sorted by 24h volume.
      parameters:
        - name: chain_id
          in: query
          required: false
          schema:
            type: integer
            example: 11155111
        - name: page
          in: query
          required: false
          schema:
            type: string
            nullable: true
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: A list of tokens sorted by 24h volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensByVolumeResponse'
  /info/api/filtered/tax:
    get:
      operationId: getFilteredTokensByTax
      summary: Returns tokens sorted by tax rate within configured bounds.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: chain_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: sortDir
          in: query
          required: false
          schema:
            type: string
            nullable: true
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Tokens filtered by tax rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredTaxResponse'
  /info/api/filtered/mcap:
    get:
      operationId: getFilteredTokensByMarketCap
      summary: Returns tokens sorted by market cap.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: chain_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: sortDir
          in: query
          required: false
          schema:
            type: string
            nullable: true
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Tokens filtered by market cap
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredMcapResponse'
  /info/api/filtered/recent:
    get:
      operationId: getFilteredRecentTokens
      summary: Returns most recently created tokens.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: chain_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Recently created tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredRecentResponse'
  /info/api/trending:
    get:
      operationId: getTrendingTokens
      summary: Returns list of trending tokens.
      parameters:
        - name: chain_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Top 15 trending tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingTokensResponse'
  /info/api/token/{address}/is_real:
    get:
      operationId: isTokenReal
      summary: Check if real steakhouse.finance token.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
            example: 0xADDRESS
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Token existence boolean
          content:
            application/json:
              schema:
                type: boolean
  /info/api/token/{address}:
    get:
      operationId: getTokenSnapshot
      summary: Returns token metadata, latest price, and last trade.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
            example: 0xADDRESS
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Token snapshot data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSnapshotResponse'
        "404":
          description: Token not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Not Found
  /blockchain/limits/{token}:
    get:
      operationId: getLimits
      summary: Returns trade limits and quote calculations.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            example: 0xTOKEN
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Limits and quote calculations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
  /blockchain/maxWallet/{token}:
    get:
      operationId: getMaxWalletQuote
      summary: Returns only the maxWallet quote.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            example: 0xTOKEN
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Max wallet quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxWalletQuoteResponse'
  /blockchain/maxTx/{token}:
    get:
      operationId: getMaxTxQuote
      summary: Returns only the maxTx quote.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            example: 0xTOKEN
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Max transaction quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxTxQuoteResponse'
  
  /blockchain/registerToken:
    post:
      operationId: registerToken
      summary: Registers a token in Steakhouse storage after on-chain validation.
      description: >
        Creating tokens via API will require registery for your new virtual token to be shown and tradeable on steakhouse.finance site. Use this endpoint to register, you can include description and logo etc.. to be shown on your token page.
      servers:
        - url: https://steakhouseapi.xyz
          description: Steakhouse API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token_address
                - chain_id
              properties:
                token_address:
                  type: string
                  description: Lowercased address of the token to register
                chain_id:
                  type: int
                  description: chain ID of token deployed (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                token_choice:
                  type: string
                  description: Optional token type indicator (overrides is_advanced / is_super_simple / is_zero_simple)
                  enum: [basic, advanced, simple, zero]
                is_advanced:
                  type: boolean
                  description: Whether the token is an advanced curve token
                is_super_simple:
                  type: boolean
                  description: Whether the token is a super simple token
                is_zero_simple:
                  type: boolean
                  description: Whether the token is a zero simple token
                virtual_token_address:
                  type: string
                  description: Optional virtual token address; defaults to token_address if omitted
                real_token_address:
                  type: string
                  description: Optional underlying real token address
                creator:
                  type: string
                  description: Address of the token creator
                tax_wallet:
                  type: string
                  description: Address of the tax wallet
                image_url:
                  type: string
                  format: uri
                  description: Token image URL (must be http(s))
                banner_url:
                  type: string
                  format: uri
                  description: Token banner URL (must be http(s))
                mp3_url:
                  type: string
                  format: uri
                  description: Token audio/MP3 URL (must be http(s))
                chain_id:
                  type: integer
                  description: EVM chain ID (defaults to 11155111 if omitted)
                name:
                  type: string
                  description: Token name
                symbol:
                  type: string
                  description: Token symbol
                total_supply:
                  type: string
                  description: Total supply (raw units)
                token_type:
                  type: string
                  description: Token type string stored in DB
                graduation_cap:
                  type: string
                  description: Graduation cap
                curve_starting_tax:
                  type: integer
                  description: Initial curve tax
                curve_tax_duration:
                  type: integer
                  description: Duration for tax curve
                curve_max_wallet:
                  type: string
                  description: Max wallet along curve
                curve_max_wallet_duration:
                  type: integer
                  description: Duration for max wallet curve
                curve_max_tx:
                  type: string
                  description: Max tx along curve
                curve_max_tx_duration:
                  type: integer
                  description: Duration for max tx curve
                final_tax_rate:
                  type: integer
                  description: Final tax rate
                lp_lock_duration:
                  type: string
                  description: LP lock duration (seconds)
                burn_lp:
                  type: boolean
                  description: Whether LP is burned
                start_time:
                  type: string
                  description: Token start time (Unix timestamp, seconds)
                tax_drop_step:
                  type: integer
                  description: Advanced tax drop step
                tax_drop_interval:
                  type: integer
                  description: Advanced tax drop interval
                max_wallet_step:
                  type: integer
                  description: Advanced max wallet step
                max_wallet_interval:
                  type: integer
                  description: Advanced max wallet interval
                max_tx_step:
                  type: integer
                  description: Advanced max tx step
                max_tx_interval:
                  type: integer
                  description: Advanced max tx interval
                limit_removal_time:
                  type: integer
                  description: Time after which limits are removed
                eth_pool:
                  type: string
                  description: Current ETH pool size (default 0)
                circulating_supply:
                  type: string
                  description: Current circulating supply (default 0)
                created_at_block:
                  type: integer
                  description: Block number where token was created
                created_at_timestamp:
                  type: integer
                  description: Timestamp when token was created
                is_stealth:
                  type: boolean
                  description: Whether the token was deployed via stealth
                  default: false
                bio:
                  type: string
                  description: Token description / bio
                telegram:
                  type: string
                  description: Telegram link or handle
                twitter:
                  type: string
                  description: Twitter / X link or handle
                website:
                  type: string
                  description: Project website URL
                catagory:
                  type: string
                  description: Token category (default 'meme')
                  default: meme
      responses:
        "200":
          description: Token successfully registered
          content:
            application/json:
              schema:
                type: boolean
                example: true
        "400":
          description: Invalid input or token validation failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "409":
          description: Token already exists in storage
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  token_address:
                    type: string
        "502":
          description: Upstream contract verification failed or timed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error while upserting token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: string

  /blockchain/create/superSimpleToken:
    post:
      operationId: createSuperSimpleToken
      summary: Creates Txn to deploy a Super Simple token.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - walletAddress
                - creatorAddress
                - tokenName
                - tokenSymbol
                - totalSupply
                - graduationCap
                - maxWallet
                - maxTx
                - tokenType
                - finalTaxRate
                - lpLockDuration
                - startTime
                - chainId
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                walletAddress:
                  type: string
                  description: Wallet address that will send the transaction
                creatorAddress:
                  type: string
                  description: Address recorded as token creator
                tokenName:
                  type: string
                  description: ERC20 token name
                tokenSymbol:
                  type: string
                  description: ERC20 token symbol
                totalSupply:
                  type: string
                  description: Total supply of the token (raw units)
                graduationCap:
                  type: string
                  description: Graduation cap parameter
                maxWallet:
                  type: string
                  description: Maximum tokens per wallet
                maxTx:
                  type: string
                  description: Maximum tokens per transaction
                tokenType:
                  type: integer
                  description: "Token type: 0 = NO_TAX, 1 = TAX"
                finalTaxRate:
                  type: integer
                  description: Final tax rate in basis points or configured units
                removeHeader:
                  type: boolean
                  description: Whether to remove the contract header
                lpLockDuration:
                  type: string
                  description: Duration in seconds to lock LP
                burnLp:
                  type: boolean
                  description: Whether LP tokens are burned
                startTime:
                  type: string
                  description: Start time as Unix timestamp (seconds)
                isStealth:
                  type: boolean
                  description: Whether to use stealth deployment
                  default: false
      responses:
        "200":
          description: Unsigned transaction for creating a Super Simple token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenResponse'
        "400":
          description: Missing or invalid fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /blockchain/create/zeroSimpleToken:
    post:
      operationId: createZeroSimpleToken
      summary: Creates Txn to deploy a Zero Simple token.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - walletAddress
                - creatorAddress
                - tokenName
                - tokenSymbol
                - totalSupply
                - graduationCap
                - tokenType
                - finalTaxRate
                - lpLockDuration
                - startTime
                - chainId
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                walletAddress:
                  type: string
                  description: Wallet address that will send the transaction
                creatorAddress:
                  type: string
                  description: Address recorded as token creator
                tokenName:
                  type: string
                  description: ERC20 token name
                tokenSymbol:
                  type: string
                  description: ERC20 token symbol
                totalSupply:
                  type: string
                  description: Total supply of the token (raw units)
                graduationCap:
                  type: string
                  description: Graduation cap parameter
                tokenType:
                  type: integer
                  description: "Token type: 0 = NO_TAX, 1 = TAX"
                finalTaxRate:
                  type: integer
                  description: Final tax rate in basis points or configured units
                removeHeader:
                  type: boolean
                  description: Whether to remove the contract header
                lpLockDuration:
                  type: string
                  description: Duration in seconds to lock LP
                burnLp:
                  type: boolean
                  description: Whether LP tokens are burned
                startTime:
                  type: string
                  description: Start time as Unix timestamp (seconds)
                isStealth:
                  type: boolean
                  description: Whether to use stealth deployment
                  default: false
      responses:
        "200":
          description: Unsigned transaction for creating a Zero Simple token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenResponse'
        "400":
          description: Missing or invalid fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /blockchain/create/basicToken:
    post:
      operationId: createBasicToken
      summary: Creates Txn to deploy a Basic curve token.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - walletAddress
                - tokenName
                - tokenSymbol
                - totalSupply
                - tokenType
                - graduationCap
                - lpLockDuration
                - startTime
                - finalTax
                - curveStartTax
                - curveTaxInterval
                - curveMaxWallet
                - curveWalletInterval
                - curveMaxTx
                - curveTxInterval
                - chainID
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                walletAddress:
                  type: string
                  description: Wallet address that will send the transaction
                tokenName:
                  type: string
                  description: ERC20 token name
                tokenSymbol:
                  type: string
                  description: ERC20 token symbol
                totalSupply:
                  type: string
                  description: Total supply of the token (raw units)
                tokenType:
                  type: integer
                  description: "Token type: 0 = NO_TAX, 1 = TAX"
                graduationCap:
                  type: string
                  description: Graduation cap parameter
                lpLockDuration:
                  type: string
                  description: Duration in seconds to lock LP
                burnLp:
                  type: boolean
                  description: Whether LP tokens are burned
                startTime:
                  type: string
                  description: Start time as Unix timestamp (seconds)
                finalTax:
                  type: integer
                  description: Final tax rate in basis points or configured units
                removeHeader:
                  type: boolean
                  description: Whether to remove the contract header
                curveStartTax:
                  type: integer
                  description: Initial curve tax
                curveTaxInterval:
                  type: integer
                  description: Interval for tax adjustments along the curve
                curveMaxWallet:
                  type: string
                  description: Maximum wallet size along the curve
                curveWalletInterval:
                  type: integer
                  description: Interval for wallet size adjustments
                curveMaxTx:
                  type: string
                  description: Maximum transaction size along the curve
                curveTxInterval:
                  type: integer
                  description: Interval for transaction size adjustments
                useStealth:
                  type: boolean
                  description: Whether to use stealth deployment
                  default: false
      responses:
        "200":
          description: Unsigned transaction for creating a Basic curve token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenResponse'
        "400":
          description: Missing or invalid fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /blockchain/create/advancedToken:
    post:
      operationId: createAdvancedToken
      summary: Creates Txn to deploy an Advanced curve token.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - walletAddress
                - tokenName
                - tokenSymbol
                - totalSupply
                - tokenType
                - graduationCap
                - lpLockDuration
                - startTime
                - finalTax
                - curveStartTax
                - curveTaxInterval
                - curveMaxWallet
                - curveWalletInterval
                - curveMaxTx
                - curveTxInterval
                - taxDropStep
                - taxDropInterval
                - maxWalletStep
                - maxWalletInterval
                - maxTxStep
                - maxTxInterval
                - limitRemovalTime
                - chainId
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                walletAddress:
                  type: string
                  description: Wallet address that will send the transaction
                tokenName:
                  type: string
                  description: ERC20 token name
                tokenSymbol:
                  type: string
                  description: ERC20 token symbol
                totalSupply:
                  type: string
                  description: Total supply of the token (raw units)
                tokenType:
                  type: integer
                  description: "Token type: 0 = Basic, 1 = TAX for final token"
                graduationCap:
                  type: string
                  description: Graduation cap parameter
                lpLockDuration:
                  type: string
                  description: Duration in seconds to lock LP
                burnLp:
                  type: boolean
                  description: Whether LP tokens are burned
                startTime:
                  type: string
                  description: Start time as Unix timestamp (seconds)
                finalTax:
                  type: integer
                  description: Final tax rate in basis points or configured units
                removeHeader:
                  type: boolean
                  description: Whether to remove the contract header
                curveStartTax:
                  type: integer
                  description: Initial curve tax
                curveTaxInterval:
                  type: integer
                  description: Interval for tax adjustments along the curve
                curveMaxWallet:
                  type: string
                  description: Maximum wallet size along the curve
                curveWalletInterval:
                  type: integer
                  description: Interval for wallet size adjustments
                curveMaxTx:
                  type: string
                  description: Maximum transaction size along the curve
                curveTxInterval:
                  type: integer
                  description: Interval for transaction size adjustments
                taxDropStep:
                  type: integer
                  description: Step size for tax reduction
                taxDropInterval:
                  type: integer
                  description: Interval in seconds between tax drops
                maxWalletStep:
                  type: integer
                  description: Step size for max wallet increase
                maxWalletInterval:
                  type: integer
                  description: Interval in seconds between max wallet changes
                maxTxStep:
                  type: integer
                  description: Step size for max transaction increase
                maxTxInterval:
                  type: integer
                  description: Interval in seconds between max transaction changes
                limitRemovalTime:
                  type: integer
                  description: Time after which limits are removed (seconds)
                useStealth:
                  type: boolean
                  description: Whether to use stealth deployment
                  default: false
      responses:
        "200":
          description: Unsigned transaction for creating an Advanced curve token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenResponse'
        "400":
          description: Missing or invalid fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /blockchain/buyCurve:
    post:
      operationId: buyCurve
      summary: Creates Txn to buy tokens via curve.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tokenAddress
                - buyAmount
                - walletAddress
                - chainId
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                tokenAddress:
                  type: string
                  description: Address of the token to buy
                buyAmount:
                  type: string
                  description: Amount of tokens to buy
                walletAddress:
                  type: string
                  description: Wallet address making the purchase
      responses:
        "200":
          description: Unsigned transaction for buying tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuySellCurveResponse'
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  
  /blockchain/sellCurve:
    post:
      operationId: sellCurve
      summary: Creates Txn to sell tokens via curve.
      servers:
        - url: https://steakhouseapi.xyz
          description: Blockchain API server
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tokenAddress
                - sellAmount
                - walletAddress
                - chainID
              properties:
                chainID:
                  type: int
                  description: (ETH: 1, BSC: 56, BASE: 8453, ARB: 42161)
                tokenAddress:
                  type: string
                  description: Address of the token to sell
                sellAmount:
                  type: string
                  description: Amount of tokens to sell
                walletAddress:
                  type: string
                  description: Wallet address making the sale
      responses:
        "200":
          description: Unsigned transaction for selling tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuySellCurveResponse'
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    TokenItem:
      type: object
      properties:
        chain_id:
          type: integer
          nullable: true
        token_address:
          type: string
          nullable: true
        virtual_token_address:
          type: string
          nullable: true
        real_token_address:
          type: string
          nullable: true
        graduated:
          type: boolean
          nullable: true
        graduation_timestamp:
          type: integer
          nullable: true
        creator:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        symbol:
          type: string
          nullable: true
        total_supply:
          type: string
          nullable: true
        token_type:
          type: integer
          nullable: true
        graduation_cap:
          type: string
          nullable: true
        tax_wallet:
          type: string
          nullable: true
        curve_starting_tax:
          type: string
          nullable: true
        curve_tax_duration:
          type: string
          nullable: true
        curve_max_wallet:
          type: string
          nullable: true
        curve_max_wallet_duration:
          type: string
          nullable: true
        curve_max_tx:
          type: string
          nullable: true
        curve_max_tx_duration:
          type: string
          nullable: true
        final_tax_rate:
          type: string
          nullable: true
        lp_lock_duration:
          type: string
          nullable: true
        burn_lp:
          type: boolean
          nullable: true
        start_time:
          type: string
          nullable: true
        is_stealth:
          type: boolean
          nullable: true
        is_super_simple:
          type: boolean
          nullable: true
        is_zero_simple:
          type: boolean
          nullable: true
        image_url:
          type: string
          nullable: true
        banner_url:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        telegram:
          type: string
          nullable: true
        twitter:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        catagory:
          type: string
          nullable: true
        is_advanced:
          type: boolean
          nullable: true
        tax_drop_step:
          type: string
          nullable: true
        tax_drop_interval:
          type: string
          nullable: true
        max_wallet_step:
          type: string
          nullable: true
        max_wallet_interval:
          type: string
          nullable: true
        max_tx_step:
          type: string
          nullable: true
        max_tx_interval:
          type: string
          nullable: true
        limit_removal_time:
          type: string
          nullable: true
        eth_pool:
          type: string
          nullable: true
        circulating_supply:
          type: string
          nullable: true
        created_at_block:
          type: string
          nullable: true
        created_at_timestamp:
          type: string
          nullable: true
        inserted_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        volume_24h:
          type: string
          nullable: true
        market_cap:
          type: string
          nullable: true
        progress:
          oneOf:
            - type: integer
            - type: string
          nullable: true
    TokensByVolumeResponse:
      type: object
      properties:
        page:
          type: integer
        total_count:
          type: integer
        total_pages:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/TokenItem'
    FilteredTaxResponse:
      type: object
      properties:
        page:
          type: integer
        has_more:
          type: boolean
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true
        sortBy:
          type: string
        sortDir:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TokenItem'
    FilteredMcapResponse:
      type: object
      properties:
        page:
          type: integer
        has_more:
          type: boolean
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true
        sortBy:
          type: string
        sortDir:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TokenItem'
    FilteredRecentResponse:
      type: object
      properties:
        page:
          type: integer
        has_more:
          type: boolean
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true
        sortBy:
          type: string
        sortDir:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/TokenItem'
    TrendingTokenItem:
      type: object
      properties:
        token_address:
          type: string
        trending_score:
          type: number
          format: double
        symbol:
          type: string
          nullable: true
        image_url:
          type: string
          nullable: true
        price_change_24h:
          type: string
          nullable: true
    TrendingTokensResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TrendingTokenItem'
    TokenInfo:
      type: object
      properties:
        bio:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        symbol:
          type: string
          nullable: true
        burn_lp:
          type: boolean
          nullable: true
        creator:
          type: string
          nullable: true
        mp3_url:
          type: string
          nullable: true
        twitter:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        catagory:
          type: string
          nullable: true
        chain_id:
          type: integer
          nullable: true
        eth_pool:
          type: number
          format: float
          nullable: true
        telegram:
          type: string
          nullable: true
        graduated:
          type: boolean
          nullable: true
        image_url:
          type: string
          nullable: true
        auto_brand:
          type: boolean
          nullable: true
        banner_url:
          type: string
          nullable: true
        is_stealth:
          type: boolean
          nullable: true
        start_time:
          type: integer
          nullable: true
        tax_wallet:
          type: string
          nullable: true
        token_type:
          type: integer
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        inserted_at:
          type: string
          format: date-time
          nullable: true
        is_advanced:
          type: boolean
          nullable: true
        max_tx_step:
          type: string
          nullable: true
        curve_max_tx:
          type: integer
          nullable: true
        total_supply:
          type: integer
          nullable: true
        color_palette:
          type: string
          nullable: true
        tax_drop_step:
          type: string
          nullable: true
        token_address:
          type: string
          nullable: true
        final_tax_rate:
          type: integer
          nullable: true
        graduation_cap:
          type: number
          format: double
          nullable: true
        is_zero_simple:
          type: boolean
          nullable: true
        is_super_simple:
          type: boolean
          nullable: true
        max_tx_interval:
          type: string
          nullable: true
        max_wallet_step:
          type: string
          nullable: true
        created_at_block:
          type: string
          nullable: true
        curve_max_wallet:
          type: integer
          nullable: true
        lp_lock_duration:
          type: integer
          nullable: true
        tax_drop_interval:
          type: string
          nullable: true
        circulating_supply:
          type: number
          format: float
          nullable: true
        curve_starting_tax:
          type: integer
          nullable: true
        curve_tax_duration:
          type: integer
          nullable: true
        limit_removal_time:
          type: string
          nullable: true
        real_token_address:
          type: string
          nullable: true
        graduation_cap_norm:
          type: number
          format: double
          nullable: true
        max_wallet_interval:
          type: string
          nullable: true
        created_at_timestamp:
          type: integer
          nullable: true
        graduation_timestamp:
          type: integer
          nullable: true
        curve_max_tx_duration:
          type: integer
          nullable: true
        virtual_token_address:
          type: string
          nullable: true
        curve_max_wallet_duration:
          type: integer
          nullable: true
    LastTrade:
      type: object
      properties:
        type:
          type: string
        price:
          type: number
          format: float
        amountEth:
          type: number
          format: float
        amountTokens:
          type: number
          format: float
        marketCap:
          type: number
          format: float
        txHash:
          type: string
        virtualEth:
          type: number
          format: float
        circulating_supply:
          type: number
          format: float
        circulatingSupply:
          type: number
          format: float
        timestamp:
          type: integer
        trader:
          type: string
        usdValue:
          type: number
          format: float
    TokenSnapshotResponse:
      type: object
      properties:
        token:
          type: string
        tokenInfo:
          $ref: '#/components/schemas/TokenInfo'
        price:
          type: number
          format: float
        lastTrade:
          $ref: '#/components/schemas/LastTrade'
    LimitsResponse:
      type: object
      properties:
        token:
          type: string
        limitsLifted:
          type: boolean
        maxWallet:
          type: string
        maxTx:
          type: string
        tradeFeeBps:
          type: string
        currentTaxBps:
          type: string
        finalTaxRateBps:
          type: string
        totalSupply:
          type: string
        circulatingSupply:
          type: string
        ethPoolWei:
          type: string
        human:
          type: object
          properties:
            maxWalletTokens:
              type: string
              nullable: true
            maxTxTokens:
              type: string
              nullable: true
            totalSupplyTokens:
              type: string
              nullable: true
            circulatingSupplyTokens:
              type: string
              nullable: true
            ethPoolEth:
              type: string
              nullable: true
        quotes:
          type: object
          properties:
            maxWallet:
              type: string
              nullable: true
    MaxWalletQuoteResponse:
      type: object
      properties:
        token:
          type: string
        limitsLifted:
          type: boolean
        maxWallet:
          type: string
        maxTx:
          type: string
        tradeFeeBps:
          type: string
        currentTaxBps:
          type: string
        finalTaxRateBps:
          type: string
        totalSupply:
          type: string
        circulatingSupply:
          type: string
        ethPoolWei:
          type: string
        human:
          type: object
          properties:
            maxWalletTokens:
              type: string
              nullable: true
            maxTxTokens:
              type: string
              nullable: true
            totalSupplyTokens:
              type: string
              nullable: true
            circulatingSupplyTokens:
              type: string
              nullable: true
            ethPoolEth:
              type: string
              nullable: true
        quotes:
          type: object
          properties:
            maxWallet:
              type: string
              nullable: true
    MaxTxQuoteResponse:
      type: object
      properties:
        token:
          type: string
        limitsLifted:
          type: boolean
        maxWallet:
          type: string
        maxTx:
          type: string
        tradeFeeBps:
          type: string
        currentTaxBps:
          type: string
        finalTaxRateBps:
          type: string
        totalSupply:
          type: string
        circulatingSupply:
          type: string
        ethPoolWei:
          type: string
        human:
          type: object
          properties:
            maxWalletTokens:
              type: string
              nullable: true
            maxTxTokens:
              type: string
              nullable: true
            totalSupplyTokens:
              type: string
              nullable: true
            circulatingSupplyTokens:
              type: string
              nullable: true
            ethPoolEth:
              type: string
              nullable: true
        quotes:
          type: object
          properties:
            maxTx:
              type: string
              nullable: true
    BuySellCurveResponse:
      type: object
      properties:
        ok:
          type: boolean
        tx:
          type: object
          description: Transaction details

    createTokenResponse:
      type: object
      properties:
        ok:
          type: boolean
        tx:
          type: object
          description: Transaction details
          
